<div class="row">
    <div class="col-lg-4 p0 mb-1">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="../../assets/cadastro.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Cadastro de Cliente</h4>
                <p class="card-text">Preencha os campos para inserir um novo cliente</p>
                <a routerLink="/cadCliente" class="btn btn-outline-success">Cadastrar Cliente</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4  p0 mb-1">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="../../assets/vendas.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Nova Venda</h4>
                <p class="card-text">Aqui voce pode realizar novas vendas</p>
                <a routerLink="/cadVenda" class="btn btn-outline-success">Realizar Venda</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 p0  mb-1">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="../../assets/cadastro.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Cadastro de Produto</h4>
                <p class="card-text">Aqui voce pode cadastrar novos produtos</p>
                <a routerLink="/cadProduto" class="btn btn-outline-success">Cadastrar Produtos</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4  p0 mb-1">
        <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="../../assets/clientes2.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Lista de Clientes</h4>
                    <p class="card-text">Visualize e edite clientes.</p>
                    <a routerLink="/edtCliente" class="btn btn-outline-success">Editar Clientes</a>
                </div>
            </div>
        
    </div>
    <div class="col-lg-4 p0 mb-1">
        <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="../../assets/vendas2.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Lista de Vendas</h4>
                    <p class="card-text">Visualize e edite as vendas.</p>
                    <a routerLink="/edtVenda" class="btn btn-outline-success">Edita Vendas</a>
                </div>
            </div>
    </div>
    <div class="col-lg-4 p0 mb-1">
        <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="../../assets/produtos2.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Lista de Produtos</h4>
                    <p class="card-text">Visualize e edite produtos.</p>
                    <a routerLink="/edtProduto" class="btn btn-outline-success">Editar Produtos</a>
                </div>
            </div>
    </div>
</div>